NEXT_PUBLIC_IVY_API_KEY=IVY26-REPLACE_WITH_YOUR_KEY
NEXT_PUBLIC_IVY_API_BASE_URL=https://solve.ivy.homes
NEXT_PUBLIC_IVY_DEMO_EMAIL=demo1@ivy.homes
NEXT_PUBLIC_IVY_DEMO_PASSWORD=REPLACE_WITH_DEMO_PASSWORD
